<div class="container mt-5 p-4 shadow rounded bg-white" style="max-width: 700px;">
    <!-- Alerta -->
    <ng-container *ngIf="mensaje">
      <div [ngClass]="{
          'alert': true,
          'alert-success': tipoMensaje == 'success',
          'alert-danger': tipoMensaje == 'error'
        }">
        {{ mensaje }}
      </div>
    </ng-container>
  
    <h3 class="mb-4 text-primary">Actualizar proveedor</h3>
  
    <form class="row g-3" (ngSubmit)="actualizarProveedor()">
      <div class="col-md-4">
        <label for="codprov" class="form-label fw-semibold">Código</label>
        <input type="number" class="form-control" id="codprov" name="codprov"
               [(ngModel)]="proveedor.codprov" readonly>
      </div>
  
      <div class="col-md-8">
        <label for="nom_prov" class="form-label fw-semibold">Nombre del proveedor</label>
        <input type="text" class="form-control" id="nom_prov" name="nom_prov"
               [(ngModel)]="proveedor.nom_prov" placeholder="Ej: OptiLens S.A.C." required>
      </div>
  
      <div class="col-12 d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary px-4">Actualizar</button>
      </div>
    </form>
  </div>
